// @import './utils/reset';
// @import './components/search';
// @import './components/gallery';
// @import './components/page-base';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfcef;
  color: #212121;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // padding: 20px 0 20px 0; // needed only with standard search-form
  // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2); // guess newer layout don't need this
}

// .search-form__input {
//   width: 300px;
//   height: 30px;
//   padding: 5px 5px 5px 15px;
//   font-size: 16px;
//   outline: none;
//   border: none;
//   border-top-left-radius: 5px;
//   border-bottom-left-radius: 5px;

//   &::placeholder {
//     font-size: 16px;
//     color: #cccccc;
//   }
// }

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 310px; // 100px with defaut html code
}

@media screen and (min-width: 420px) {
  .gallery {
    flex-direction: row;
    padding-top: 245px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    padding-top: 210px;
  }
}

.pict-card {
  width: calc(100% / 1 - 15px * 2);
  margin: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ddddd1;

  &:hover,
  &:focus {
    box-shadow: 0px 0px 5px 2px rgba(63, 63, 60, 0.7);
  }
}

@media screen and (min-width: 420px) {
  .pict-card {
    width: calc(100% / 1 - 15px * 2);
  }
}

@media screen and (min-width: 768px) {
  .pict-card {
    width: calc(100% / 2 - 15px * 2);
  }
}

@media screen and (min-width: 1200px) {
  .pict-card {
    width: calc(100% / 3 - 15px * 2);
  }
}

@media screen and (min-width: 1600px) {
  .pict-card {
    width: calc(100% / 4 - 15px * 2);
  }
}

.pict-card__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.pict-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  padding: 15px 5px;
}

@media screen and (min-width: 390px) {
  .pict-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    padding: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .pict-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 15px;
  }
}

.pict-card__txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #5f5f5a;
}

.more-pics {
  width: 160px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 600;
  border: solid 3px #7f7e77;
  // border: none;
  // border-radius: 8px;
  border-radius: 35px;
  color: #5f5f5a;
  background-color: #ddddd1;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ddddd1;
    background-color: #7f7e77;
  }

  &.is-hidden {
    display: none;
  }
}

// animated search-form

.flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddddd1;
}

.search {
  margin: 20px;
  margin-bottom: 30px;
}

.search > h1 {
  color: #7f7e77;
  margin-bottom: 5px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.search > h3 {
  font-weight: normal;
  margin-bottom: 15px;
}

.search > h1,
.search > h3 {
  color: #7f7e77;
  // text-shadow: 0 1px #bebdb3;
}

.search > div {
  display: inline-block;
  position: relative;
  // filter: drop-shadow(0 1px #bebdb3);
}

.search > div:after {
  content: '';
  background: #7f7e77;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: #3f3f3c;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px #7f7e77;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #3f3f3c;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

@media screen and (min-width: 420px) {
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 350px;
  }
}

@media screen and (min-width: 768px) {
  .search > div > input:focus,
  .search > div > input:not(:placeholder-shown) {
    width: 390px;
  }
}
