.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding-top: 100px;
}

.pict-card {
  width: calc(100% / 3 - 10px * 2);
  margin: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 4, 56, 0.5);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(77, 25, 67, 0.5);

  &:hover,
  &:focus {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
  }
}

.pict-card__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
