.search-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  &__input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__logo {
    padding: 8px 12px;
    font: inherit;
    cursor: pointer;
  }
}

.search-img {
  margin-right: 10px;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
